@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#424F55] overflow-x-hidden;
}

@layer base {
    @font-face {
        font-family: "circular";
        src: url("./assets/fonts/CircularStd-Black.otf");
    }
    @font-face {
        font-family: "circular";
        src: url("./assets/fonts/CircularStd-Bold.otf");
    }
    @font-face {
        font-family: "circular";
        src: url("./assets/fonts/CircularStd-Light.otf");
    }
    @font-face {
        font-family: "circular";
        src: url("./assets/fonts/CircularStd-Medium.otf");
    }
    @font-face {
        font-family: "circular";
        src: url("./assets/fonts/CircularStd-Regular.otf");
    }

    .container {
        @apply mx-auto px-6;
    }
    .display-1 {
        @apply text-4xl sm:text-5xl  xl:text-[64px];
        font-family: circular;
        font-style: normal;
        font-weight: 900;
        line-height: 61px;
        align-items: center;
        color: #aeafff;
    }
    .display-2 {
        @apply text-[24px] sm:text-[36px]  xl:text-[48px];
        font-family: circular;
        font-style: normal;
        font-weight: 900;
        line-height: 61px;
        align-items: center;
        color: #aeafff;
    }
    .display-3 {
        @apply text-[25px] leading-[110%] sm:leading-[115%] sm:text-[30px] md:text-[35px] md:leading-[125%] lg:leading-[130%] lg:text-[38px] xl:text-[40px]  xl:leading-[140%];
        font-family: circular;
        font-style: normal;
        font-weight: bold;
    }
    .para {
        font-family: circular;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.1em;
    }
}

#root {
    @apply py-4 xl:py-6 md:flex md:flex-col md:justify-between md:h-screen;
}
